/*Reset*/

* {
    margin: 0;
}

body {
    color: #ececec;
    height: 100vh;
    background-image: url("../images/princess1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}


/*Start Page*/

.start-page {
    background-color: cornsilk;
    height: 100vh;
}


/*Header*/


header {
    width: 100%;
    text-align: center;
    margin: 1.5rem;
    display: flex;
    justify-content: center;
}

.col-12 > h1 {
    font-size: 3rem;
    background-color: #1da5aa;
    width: 55%;
    opacity: 85%;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
}


/*Aside*/

.stats-box {
    background-color: #10b3ab;
    text-align: center;
    padding: 1.2rem 1rem;
    margin: 1rem;
    border-radius: 5px;
    opacity: 80%;
}

.stats-box > p {
    font-size: 1.1rem;
}


/*Main Cards*/

main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.card-row {
    height: 30%;
}

.card-front, .card-back {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    border-radius: 5px;
}

.card-back {
    background-image: url("../images/card-back5.gif");
}

.css-logo {
    background-image: url('../images/css-logo.png');
}

.docker-logo {
    background-image: url('../images/docker-logo.jpg');
}

.github-logo {
    background-image: url('../images/gitHub-logo.png');
}

.html-logo {
    background-image: url('../images/html-logo.png');
}

.js-logo {
    background-image: url('../images/js-logo.png');
}

.mysql-logo {
    background-image: url('../images/mysql-logo.jpg');
}

.node-logo {
    background-image: url('../images/node-logo.png');
}

.php-logo {
    background-image: url('../images/php-logo.jpeg');
}

.react-logo {
    background-image: url('../images/react-logo.png');
}


/*Modal*/

.modal-container {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #10b7bd;
    height: 50%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
}

#reset-button {
    padding: 0.7rem 2rem;
    background-color: #686868;
    border-color: #868686;
    border-radius: 5px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

/*Hidden Classes*/

.hidden {
    display: none;
}
